<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>665818130932-fasvak9vt52oqhu802ji539dmskniq5b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665818130932-fasvak9vt52oqhu802ji539dmskniq5b</string>
	<key>API_KEY</key>
	<string>AIzaSyBcnAEvhOiPyOg7EuQPzHk2NJJVBCGzjVc</string>
	<key>GCM_SENDER_ID</key>
	<string>665818130932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ming.ChatFirestore</string>
	<key>PROJECT_ID</key>
	<string>chatswiftui-f99dc</string>
	<key>STORAGE_BUCKET</key>
	<string>chatswiftui-f99dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665818130932:ios:a7c7a5b6fbad65b8fab1a1</string>
</dict>
</plist>